<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div>JS-Test</div> -->
     <!-- <script type="text/javascript" src="./js/1.js"></script> -->  
  
   <!-- <div>1</div>
    <div>2123</div>
    <script type="text/javascript" src="./js/2.js"></script>  -->
    
    <!-- <script type="text/javascript" src="./js/arrayAppend.js"></script> -->

    <!-- <link href="./js/domToArr.css" rel="stylesheet"></style>
    <div>1123 </div>
    <div>2123</div>
    <script type="text/javascript" src="./js/domToArr.js"></script>  -->

    <!-- <script type="text/javascript" src="./js/aboutArray.js"></script>  -->

    <!-- logo text animation -->
     <!-- <link href="./js/textAnimation.css" rel="stylesheet"></style>
     <div class="textDiv">HAGASDASDA</div>
     <script type="text/javascript" src="./js/textAnimation.js"></script> -->

    <!-- <ul id="setTest">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
    <script type="text/javascript" src="./js/setTest.js"></script> -->
    
    <!-- <script type="text/javascript" src="./js/mapTest.js"></script>  -->

    <!-- <script type="text/javascript" src="./js/funcTest.js"></script> -->

    <!-- <script type="text/javascript" src="./js/zoneTest.js"></script> -->

    <!-- <input type="text" v-model="title">
    <input type="text" v-model="title">
    <h4 v-bind="title">这里也更新</h4>
    <hr>
   <input type="text" v-model="content">
    <h4 v-bind="content">这里也更新</h4> -->

    <!-- <style>
        .error{
            border: solid 1px red;
        }
    </style>

    <input type="text" validateRule="max:12,min:3">
     <input type="text" validateRule="max:3,isNumber">
    
    <script type="text/javascript" src="./js/objTest.js"></script> -->

    <script type="text/javascript" src="./js/yuanxing.js"></script>



</body>
</html>