main{
    // position: relative;
    display: flex;
    height:100vh;
    nav {
           // position:absolute;
        // left:0;
        // top:0;
        // bottom: 0;
        width: 80px;
        background: blueviolet;
    }
    article{
      background: #ccc;
      padding-left: 10px;
      
        background-clip: content-box;
      flex:1

    }
}