.nav{
    nav{
        a{
            text-decoration: none;
            color:green;
        }
    }

    p:only-child{
        color: red;
    }
}

article{
    p{
        text-transform: capitalize;
        font-variant: small-caps
    }
}

article.table-a{
    display: table;
    width:300px;
    border-collapse: collapse;
    margin-bottom:30px;
    nav{
        display: table-caption;
        text-align: center;
        caption-side: top;
        color: green;
        background: yellow;
        line-height: 2em;
        border: solid 1px #ddd;
        border-bottom: none ;
    }
    nav:nth-of-type(2){
        display:table-column-group;
        div{
            display: table-column;
            column-span: all;
            background: grey;
        }
    }

    section{
        &:nth-of-type(1){
            display: table-header-group;
        }
        &:nth-of-type(2){
            display: table-row-group;
        }
        &:nth-of-type(3){
            display: table-footer-group;
        }

        ul{
            display: table-row;

            li{
               
                padding: 10px;
                border: solid 1px #ddd;
                 display: table-cell;
                div.content{
                    max-width:100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            li.test{
                 display: table-cell;
                 column-count: 2;
            }
        }
    }

}


article.table-b{
    display: table;
    width:1000px;
    border-collapse: collapse;
    border: none;
    margin-bottom:30px;
    // nav{
    //     display: table-caption;
    //     text-align: center;
    //     caption-side: top;
    //     color: green;
    //     line-height: 2em;
        
    //     border-bottom: none ;
    // }
    nav.col{
        display:table-column-group;
        &>div{
            display: table-column;
            column-span: all;
        }

        &>div:nth-of-type(1){
            width:20%
        }
        &>div:nth-of-type(2){
             width:40%
        }
         &>div:nth-of-type(3){
           width:40%
        }
    }

    section{
        display: table-row-group;
        &:first-child{
            display: table-header-group;
            background:#bbb;

             &>ul{
               &>li:nth-child(1){
                width:20%
               }
               &>li:nth-child(2){
                width:40%
               }
               &>li:nth-child(3){
                width:40%
               }
             }
        }
        &:last-child{
            display: table-footer-group;
            border-bottom:solid 1px #ddd;
        }

    &>ul{
            display: table-row;

             &>li{
               border-right: solid 1px #ddd;
               border-top: solid 1px #ddd;
                padding: 10px;
       
                 display: table-cell;
                div.content{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
             &>li:last-child{
                border-right:none;
             }
        }
    }



}

table.table1{
    border:none;
    font-size:14px;
    border-collapse:collapse;

    & tr>td{
        border-top:solid 1px #ccc;
        padding:10px;
    }

    & tr:last-child>td{
        border-bottom:solid 1px #ccc;
    }
    
}

ul.list-style{
    list-style:none;
    padding-left:0;
    
    &>li{
        padding:0;
        
    }
}