.nav nav a {
  text-decoration: none;
  color: green;
}
.nav p:only-child {
  color: red;
}
article p {
  text-transform: capitalize;
  font-variant: small-caps;
}
article.table-a {
  display: table;
  width: 300px;
  border-collapse: collapse;
}
article.table-a nav {
  display: table-caption;
  text-align: center;
  caption-side: top;
  color: green;
  background: yellow;
  line-height: 2em;
  border: solid 1px #ddd;
  border-bottom: none ;
}
article.table-a nav:nth-of-type(2) {
  display: table-column-group;
}
article.table-a nav:nth-of-type(2) div {
  display: table-column;
  column-span: all;
  background: grey;
}
article.table-a section:nth-of-type(1) {
  display: table-header-group;
}
article.table-a section:nth-of-type(2) {
  display: table-row-group;
}
article.table-a section:nth-of-type(3) {
  display: table-footer-group;
}
article.table-a section ul {
  display: table-row;
}
article.table-a section ul li {
  padding: 10px;
  border: solid 1px #ddd;
  display: table-cell;
}
article.table-a section ul li div.content {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
article.table-a section ul li.test {
  display: table-cell;
  column-count: 2;
}
